<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Background Color</title>
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
</head>
<body>
   <div class="app" id="appbody"> 
       <div class="header">
        <h1>Enter Hex Value To Change Background Color!</h1>
       </div>
        <div class="form" id="divform">
                <input type="text" name="color" placeholder="Enter Hex Value" value="#FF5733" id="color"><br><br>
                &nbsp; &nbsp; &nbsp; <input type="submit" value="Change BG Color" onclick="changecolor()">
        </div>
        <div style="text-align: center;">
        <a href="/allcolors" style="text-align:center;">See All Colors Entered</a>
        </div>
   </div>
</body>
</html>